<h1>This is the Search file.</h1>

<form action="/results" method="GET">
    <input type="text" placeholder="Enter a movie name" name="movieName"></input>
    <button type="Submit">Search</button>
</form>
