<% include partials/header%>
<h1>My Fleet</h1>
    <div class="ui two column grid ">
        <% blogs.forEach(function(blog){ %>
            <div class="column">
                <div class="ui fluid card">
                  <div class="image">
                    <img src="<%=blog.image%>">
                  </div>
                  <div class="content">
                    <a  href="/blogs/<%=blog._id%>" class="header"><%= blog.title%> <i class="right chevron icon"></i></a>
                  </div>
                </div>
            </div>
        <% }); %>
    </div>
<% include partials/footer%>