<h1>Sign Up With Your Username</h1>

<form action="/register" method="POST">
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter Username" name="username"></input>
    </p>
    
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" name="password"></input>
    </p>
    
    <p>
        <button>Sign Up</button>
    </p>
</form>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>